/*******************************************************
** Public Supports
*******************************************************/
$fontFamily: "Aktiv Grotesk", sans-serif;
$fontFamily_: 'Arial', sans-serif;
$theme: 'IBM Plex Mono', monospace;
* {
    -webkit-font-smoothing: antialiased;
    outline: none;
}

/*******************************************************
** Mixins (Optional)
*******************************************************/

body {
    font-family: $fontFamily;
}